<IfModule mod_rewrite.c>
    RewriteEngine On

    # Define o caminho base do projeto. Essencial para subpastas.
    RewriteBase /futplay-v2/

    # --- CONDIÇÕES IMPORTANTES ---
    # Se a requisição NÃO (!) for para um arquivo (-f) que existe fisicamente...
    RewriteCond %{REQUEST_FILENAME} !-f
    # E a requisição NÃO (!) for para um diretório (-d) que existe fisicamente...
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redireciona tudo para o script principal na pasta public
    RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>